{% load static %}
{% load bootstrap5 %}

<div class="table-responsive" id="filtered-results">
    <div id="loading-spinner" style="display: none;">
        <!-- Add your loading spinner here -->
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <table class="table table-striped table-sm">
    <thead>
        <tr>
        <th scope="col">Title</th>
        <th scope="col">Pages</th>
        <th scope="col">Fees ($)</th>
        <th scope="col">Date Rented</th>

        <th scope="col">Date Due</th>
        <th scope="col">Extended ?</th>
        <th scope="col">Extension Date</th>
        <th scope="col">Date Returned</th>
        </tr>
    </thead>
    <tbody>
        {% for rent in rentals %}
        <tr>
        <td style="max-width: 15rem;">{{ rent.book.title }}</td>
        <td>{{ rent.book.number_of_pages }}</td>
        <td class="mx-auto">{{ rent.calculate_rental_fee }}</td>
        <td>{{ rent.start_date }}</td>
        
        
        <td>{{ rent.end_date }}</td>
        <td>{{ rent.is_extended }}</td>
        <td>{% if rent.extention_end_date %} {{ rent.extention_end_date }} {% else %} - {% endif %}</td>
        <td>{% if not rent.book_return_date %} <span class="text-danger">Not Returned</span> {% else %} {{ rent.book_return_date }} {% endif %}</td>
    </tr>
        {% empty %}
        <tr>
        No rents yet.
        </tr>
        {% endfor %}
        
    </tbody>
    </table>
</div>
