{% extends 'dashboard_base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<title>Start New Rental - BookRentalo.com</title>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Start New Book Rental</span></h1>
    </div>
    <div class="container">
        <form method="POST" action=".">
            {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Book Title</label>
            <input type="text" class="form-control" required name="title" id="exampleFormControlInput1" placeholder="Enter Book Title">
          </div>
          <input type="submit" value="Search" class="btn btn-primary">
        </form>
    </div>
  </main>

{% endblock %}