{% extends 'dashboard_base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<title>User Rentals - BookRentalo.com</title>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">All Book Rentals by {{ rental_user }}</span></h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <a href="/admin/initiate-rental/" class="btn btn-primary mb-1">Rent Out A Book</a>
        </div>
      </div>
    </div>
    
    <h4 class="text-muted mt-3">Book Rentals</h4>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Book Title</th>
            <th scope="col">Author</th>
            <th scope="col">Pages</th>
            <th scope="col">Fees ($)</th>
            <th scope="col">Date Due</th>
            <th scope="col">Returned?</th>
            <th scope="col">Extend?</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          {% for rental in rentals %}
          <tr>
            <td style="max-width: 15rem;">{{ rental.user.get_full_name }}</td>
            <td>{{ rental.book.title }}</td>
            <td>{{ rental.book.author }}</td>
            <td>{{ rental.book.number_of_pages }}</td>
            <td>{{ rental.calculate_rental_fee }}</td>
            <td>{% if not rental.extention_end_date %} {{ rental.end_date }} {% else %} {{rental.extention_end_date}} {% endif %}</td>
            <td>{% if not rental.is_book_returned %} <span class="badge bg-danger">not returned</span> {% else %} <span class="badge bg-success">returned</span> {% endif %}</td>
            <td>{% if not rental.is_book_returned %}<a href="{% url 'core:extend-rental' rental.id %}" class="btn btn-secondary btn-sm">Extend</a>{% else %} no action {% endif %}</td>
            <td>{% if not rental.is_book_returned %}<a href="{% url 'core:close-rental' rental.id %}" class="btn btn-success btn-sm">Mark As Returned</a>{% else %} no action {% endif %}</td>
  
        </tr>
          {% empty %}
          <tr>
          No rents yet.
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </main>

{% endblock %}