{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<title> Sign Up - BookRentalo.com</title>


    <main class="form-signin bg-light">
        <form method="POST" action=".">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Create an account</h1>

            <div class="form-floating">
            <input type="email" class="form-control" id="floatingPassword" placeholder="Email" name="email">
            <label for="floatingEmail">Email</label>
            </div>

            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
            <p class="mt-1 mb-3 text-muted">Have account? <a href="{% url 'users:login' %}" class="text-decoration-none">Sign In</a></p>
        </form>    
    </main>




{% endblock content %}